:root {
  font-size: 16px;
  font-family: 'Montserrat';
  --text-primary: #ffffff;
  --text-accent: #29B38E;
  --text-accent-lighter: #7BD070;
  --transition-speed: 600ms;
}

body {
  opacity: 0;
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
}

@keyframes fade-out {
  from { opacity: 1 }
    to { opacity: 0 }
}

@keyframes fade-in {
  from { opacity: 0 }
    to { opacity: 1 }
}

body.fade-out {
  opacity: 0;
  animation-name: fade-out;
}

body.fade-in {
  opacity: 1;
  animation-name: fade-in;
}

nav img {
  position: absolute;
  top: 10px;
  right: 20px;
}

.main {
  color: var(--text-primary);
  background: linear-gradient(180deg, #85D46C 0%, #22B191 100%);
  margin: 0;
  padding: 0;
  height: 100%;
  max-height: calc(100% - 80px);
}

.login-panel {
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -30%);
  width: 80%;
  height: 250px;
  padding: 20px;
  color: white;
  text-align: center;
}

.login-panel input:not([type=submit]) {
  background-color: transparent;
  color: white;
  border: none;
  width: 100%;
  outline: 0px;
  border-bottom: 1px solid #c7c7c7;
}

.login-title {
  color: var(--text-primary);
  text-align: left;
  font-family: 'Montserrat';
  font-size: 24px;
  display: flex;
}

.login-btn {
  background: white !important;
  color: black !important;
  text-align: center !important;
  vertical-align: middle !important;
  height: 50px;
  width: 200px;
  border: 0px;
  font-family: 'Montserrat';
  display: inline-block;
  padding: 3px !important;
  font-size: 16px !important;
  border-radius: 25px !important;
  margin: 0 auto;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
  -moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
}

.main-drop {
  color: var(--text-primary);
  background: linear-gradient(90deg, #D5ECE1 0%, #D0ECE6 100%);
  margin: 0;
  padding: 0;
  height: 25px;
  max-height: calc(100% - 80px);
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--text-primary);
  opacity: 1; /* Firefox */
}

footer {
  height: 75px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: white;
  display: flex;
}

footer .client-dashboard {
  font-size: 16px;
  color: var(--text-accent-lighter);
  position: absolute;
  left: 45px;
  display: table-cell;
  line-height: 75px;
  vertical-align: middle;
}

footer .project-n {
  font-size: 21px;
  color: var(--text-accent);
  position: absolute;
  right: 45px;
  display: table-cell;
  line-height: 70px;
  vertical-align: middle;
}