<head>
  <meta name="description" content="Projeto N">
  <link rel="manifest" href="/static/manifest.json">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Mensagens | Projeto N
  </title>
  <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
  
  <link rel="manifest" href="/static/manifest.json">
  <meta name="theme-color" content="#ffffff">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/node-waves/0.7.6/waves.min.css">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/node-waves/0.7.6/waves.min.js"></script>
  
  <!-- Boostrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"> 
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous"> 
  
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Comfortaa:300,400,700&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,700&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
  
  <!-- Custom CSS -->
  <link rel="stylesheet" href="/static/chatbot/css/dashboard.css?{% now 'U' %}" />
  
  <!-- Jquery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<script>
  if ('serviceWorker' in navigator) {
    navigator.serviceWorker.register('/service-worker.js')
    .then(function(reg) {
      // registration worked
      console.log('Registration succeeded. Scope is ' + reg.scope);
    }).catch(function(error) {
      // registration failed
      console.log('Registration failed with ' + error);
    });
  }
</script>
<body class="hidden-scrollbar" onload="fadeIn()"> 
  {% include "nav.html" %} 
  <div class="wrapper hidden-scrollbar" onscroll="scrollCheck()">
    {% if flows %}
    {% for flow in flows %}
    <div class="card-wrapper">
      <div class="card" onclick="window.location='/flows/{{flow.id}}/'">
        <p class="card-title">{{flow.description}}</p>
      </div>
      <div class="card-data">
        <p>Escolhida {{flow.chosen}} vezes na última semana<br>{{flow.children}} opções</p>
      </div>
    </div>
    {% endfor %}
    {% else %}
    <h5>Sem fluxos cadastrados. Utilize o botão de + abaixo para adicionar um novo fluxo.</h5>
    {% endif %}
  </div>
  <a class="add zoom" href="/add/?v=0">
    <i class="material-icons add-icon">add</i>
  </a>
</body>
<script>
  function fadeIn(){
    document.body.classList.add('fade-in');
  }
  
  window.onbeforeunload = function (e) {
    document.body.classList.remove('fade-in');
    document.body.classList.add('fade-out');
  };
</script>
<script>
  function scrollCheck() {
    var wrapper = document.getElementsByClassName('wrapper')[0];
    var opacity = 0.16 * wrapper.scrollTop / 108;
    if (opacity > 0.16) opacity = 0.16; 
    $(".nav").css("box-shadow", '0px 3px 6px 0px rgba(0,0,0,' + opacity + ')');
  };

  $(document).ready(function() {
    $(".wrapper").css("height", document.body.clientHeight - $(".wrapper").offset().top);
    $(".wrapper").css("max-height", document.body.clientHeight - $(".wrapper").offset().top);
  });
</script>
<script>
  Waves.attach('.card');
  Waves.attach('h1', ['waves-light']);
  Waves.init();
</script>