<link rel="stylesheet" href="/static/chatbot/css/nav.css?{% now 'U' %}" />
<div class="nav">
  {% if view == "add" %}
  <h1>Adicionar fluxo</h1>
  {% endif %}
  {% if view == "edit" %}
  <h1>Editar fluxo</h1>
  {% endif %}

  {% if view == "analytics" or view == "flow" or view == "flows" %}
  <h1 style="margin-left: 0.75em;" {% if view == "analytics" %}class="active" {% else %}class="inactive" {% endif %}onclick="window.location='/analytics/'">Analytics</h1>
  <h1 {% if view == "flow" or view == "flows" %}class="active"{% else %}class="inactive" {% endif %}onclick="window.location='/flows/'">Mensagens</h1>
    {% if view == "analytics" %}
    <div id="navbar" class="timeframes hidden-scrollbar">
      <a class="timeframe {% if timeframe == 'week' %}timeframe-active{% endif %}" href='/analytics/week/'>Semana</a>
      <a class="timeframe {% if timeframe == 'month' %}timeframe-active{% endif %}" href='/analytics/month/'>Mês</a>
      <a class="timeframe {% if timeframe == 'semester' %}timeframe-active{% endif %}" href='/analytics/semester/'>Semestre</a>
      <a class="timeframe {% if timeframe == 'year' %}timeframe-active{% endif %}" href='/analytics/year/'>Ano</a>
      <a class="timeframe {% if timeframe == 'all' %}timeframe-active{% endif %}" href='/analytics/all/'>Todos</a>
    </div>
    {% endif %}
  {% endif %}
</div>