<head>
  <meta name="description" content="Projeto N">
  <link rel="manifest" href="/static/manifest.json">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Login | Projeto N
  </title>
  <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
  
  <link rel="manifest" href="/static/manifest.json">
  <meta name="theme-color" content="#ffffff">

  <!-- Waves -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/node-waves/0.7.6/waves.min.css">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/node-waves/0.7.6/waves.min.js"></script>
  
  <!-- Boostrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"> 
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous"> 
  
  <!-- Material IO -->
  <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
  <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Comfortaa:300,400,700&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,700&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
  
  <!-- Custom CSS -->
  <link rel="stylesheet" href="/static/bauth/css/login.css?{% now 'U' %}" />
  
</head>
<script>
  if ('serviceWorker' in navigator) {
    navigator.serviceWorker.register('/service-worker.js')
    .then(function(reg) {
      // registration worked
      console.log('Registration succeeded. Scope is ' + reg.scope);
    }).catch(function(error) {
      // registration failed
      console.log('Registration failed with ' + error);
    });
  }
</script>
<body onload="fadeIn()"> 
  <nav>
    <img src="/static/bauth/img/logo-transparent.svg">
  </nav>
  <div class="main">    
    <form class="login-panel" method="post" action="/api/login/">
      <div class="login-title">
        <p> Login </p>
        <i class="material-icons-outlined ml-3 mt-2">login </i>
      </div> 
      <input type="text" placeholder="Usuário" onclick="this.value=''" name="username" autocomplete="off"><br><br>
      <input type="password" placeholder="Senha"  onclick="this.value=''" name="password"><br><br><br>
      <input type="submit" class="login-btn" value="Entrar"></input> 
    </form>
  </div>
  <div class="main-drop">    
  </div>
  <footer>
    <p class="client-dashboard">Dashboard do Cliente</p>
    <p class="project-n">Projeto N</p>
  </footer>
</body>
<script>
  function fadeIn(){
    document.body.classList.add('fade-in');
  }
  
  window.onbeforeunload = function (e) {
    document.body.classList.remove('fade-in');
    document.body.classList.add('fade-out');
  };
</script>
<script>
  Waves.attach('.card');
  Waves.attach('.login-btn');
  Waves.init();
</script>