:root {
  font-size: 18px;
  font-family: 'Montserrat';
  --text-primary: #ffffff;
  --text-accent: #27B28F;
  --transition-speed: 600ms;
}

body {
  color: var(--text-primary);
  background: #85D46C ;
  background: linear-gradient(180deg, #85D46C 0%, #22B191 100%);
  margin: 0;
  padding: 0;
  height: 100%;
  opacity: 0;
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
}

@keyframes fade-out {
  from { opacity: 1 }
    to { opacity: 0 }
}

@keyframes fade-in {
  from { opacity: 0 }
    to { opacity: 1 }
}

body.fade-out {
  opacity: 0;
  animation-name: fade-out;
}

body.fade-in {
  opacity: 1;
  animation-name: fade-in;
}

.hidden-scrollbar::-webkit-scrollbar {
  display: none;
}

.hidden-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none;
}

.wrapper {
  padding-top: 36px;
  padding-bottom: 20px;
  overflow-y: auto;
  position: absolute;
  width: 100%;
  height: 0;
  max-height: 0;
}

.timeframes {
  padding-left: 1em;
  overflow-x: auto;
  white-space: nowrap;
}

.timeframes a {
  font-size: 18px;
  color: var(--text-primary);
  padding: 0.25em 1em !important;
  text-decoration: none;
  text-align: center;
}

.timeframe-active {
  font-weight: bold;
}

.analytic-description {
  font-family: 'Comfortaa';
  font-size: 16px;
  text-align: center;
}

.analytic-value {
  font-family: 'Comfortaa';
  font-size: 128px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: -10px;
}