:root {
  font-size: 18px;
  font-family: 'Montserrat';
  --text-primary: #ffffff;
  --text-accent: #27B28F;
  --transition-speed: 600ms;
}

.card {
  color: #000000;
  width: 125px;
  margin-bottom: 3em;
  border-radius: 7px;
  border-width: 0;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
  -moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
}

.card-wrapper {
  display: flex;
  vertical-align: middle;
}

.card-data {
  margin-left: 2em;
  padding: 0px;
  display: inline;
}

.spacing {
  margin: 10px;
}

.spacing-md {
  margin: 20px;
}

.spacing-lg {
  margin: 30px;
}

.card-data p {
  vertical-align: middle;
  display: inline;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Comfortaa';
  text-align: center;
  vertical-align: left;
}

.card-title {
  color: var(--text-accent);
  height: 100%;
  width: 100%;
  padding: 15px;
  margin: 0px;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Comfortaa';
  text-align: center;
  vertical-align: middle;
}

.flow-description {
  color: var(--text-primary);
  font-weight: bold;
  font-size: 16px;
  font-family: 'Comfortaa';
  margin-bottom: 0em;
}

.flow-message {
  color: var(--text-primary);
  font-weight: lighter;
  font-size: 16px;
  font-family: 'Comfortaa';
  margin-bottom: 2em;
}

body {
  color: var(--text-primary);
  background: linear-gradient(180deg, #85D46C 0%, #22B191 100%);
  margin: 0;
  padding: 0;
  height: 100%;
  opacity: 0;
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
}

@keyframes fade-out {
  from { opacity: 1 }
    to { opacity: 0 }
}

@keyframes fade-in {
  from { opacity: 0 }
    to { opacity: 1 }
}

body.fade-out {
  opacity: 0;
  animation-name: fade-out;
}

body.fade-in {
  opacity: 1;
  animation-name: fade-in;
}

.hidden-scrollbar::-webkit-scrollbar {
  display: none;
}

.hidden-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none;
}

.wrapper {
  padding-top: 36px;
  padding-bottom: 20px;
  margin: 0 2em;
  overflow-y: auto;
  position: absolute;
  height: 0;
  max-height: 0;
  width: calc(100% - 4em)
}

.add {
  width: 3em;
  height: 3em;
  border-radius: 100%;
  background-color: #85D46C;
  display: block;
  position: absolute;
  bottom: 2em;
  right: 2em;
  cursor: pointer;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
  -moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
}

.add-icon {
  font-size: 3em;
  color: white;
}

.zoom {
  transition: transform .2s;
}

.zoom:hover {
  transform: scale(1.1); 
}

.add-submit {
  width: 100%;
}