h1 {
  font-size: 23px;
  font-family: 'Montserrat';
  --text-primary: #ffffff;
  padding: 0.75em;
  margin-bottom: 0px !important;
  margin-top: 0.5em !important;
}

.active {
  font-weight: bolder;
}

.inactive {
  font-weight: 300;
}

.nav {
  position: sticky; 
  top: 0; 
  width: 100%; 
  z-index: 10000;
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0);
}
